footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
  color: white;
  background-color: #003459;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  margin-top: 40px;
}
.footer-login-link {
  color: white;
}
.footer-waves-link {
  color: white;
}
.footer-login-link:hover {
  color: #00a8e8;
}
.footer-waves-link:hover {
  color: #00a8e8;
}
.footer-fav-link {
  color: white;
}
.footer-fav-link:hover {
  color: #00a8e8;
}
@media only screen and (max-width: 768px) {
  footer {
    font-size: 10px;
  }
}
