.chat-container {
  background-color: #d93f51;
  padding: 5px 5px;
  border-radius: 25px;
  grid-column: 3;
}

.chat-container a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
/* coolors color scheme */
/* FFFFFF white
00171F dark dark blue
003459 ocean blue

007EA7 lighter blue
00A8E8 cyanish blue */
