@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Russo+One&display=swap");
.chat-container {
  background-color: #007ea7;
  padding: 5px 5px;
  border-radius: 25px;
  grid-column: 3;
}

.chat-container a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
img {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wave-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Libre Franklin", sans-serif;
}
.chat-log-title {
  font-family: "Libre Franklin", sans-serif;
}
