@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Russo+One&display=swap");
.chat-container {
  background-color: #007ea7;
  padding: 5px 5px;
  border-radius: 25px;
  grid-column: 3;
}
html {
  background-color: lightgray;
}

.chat-container a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
img {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wave-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Libre Franklin", sans-serif;
}
.chat-log-title {
  font-family: "Libre Franklin", sans-serif;
}
.render-chat {
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 60px;
}
.fa-trash-button {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  background-color: gray;
}
.fa-trash-button:hover {
  background-color: #00a8e8;
}
.chat-post-button {
  background-color: #003459;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  width: 15vw;
  height: 10vh;
  font-weight: 100;
  cursor: pointer;
  margin-bottom: 60px;
  font-family: "Libre Franklin", sans-serif;
}
.chat-post-button:hover {
  background-color: #00a8e8;
}
.chat-log-container {
  color: #003459;
}
@media only screen and (max-width: 400px) {
  .wave-statistics {
    font-size: 10px;
    padding-left: 24px;
  }
  .render-chat {
    font-size: 12px;
  }
  .chat-post-button {
    font-size: 12px;
    width: 80px;
  }
  .chat-log-container {
    font-size: 12px;
  }
}
