@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Russo+One&display=swap");
.render-spots {
  text-decoration: none;
  list-style: none;
  color: black;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
div > a:hover {
  color: #00a8e8;
}
div > a {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #00171f;
  font-family: "Libre Franklin", sans-serif;
}
a :hover {
  color: #00a8e8;
}

.spots-header {
  font-family: "Libre Franklin", sans-serif;
  color: #00171f;
  margin-bottom: -20px;
}
.react-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wave-height-slider {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bolder;
}
.region-dropdown {
  width: 200px;
  margin-top: 40px;
  background-color: #003459;
  color: white;
  border-radius: 10px;
}
.wave-component-header {
  font-family: "Russo One", sans-serif;
  color: white;
  background-color: #003459;
  height: 100px;
}
@media only screen and (max-width: 400px) {
  .wave-component-header {
    font-size: 12px;
    height: 30px;
  }
  .region-dropdown {
    font-size: 12px;
    width: 30vw;
  }
  .spots-header {
    font-size: 12px;
  }
  .wave-height-slider {
    font-size: 11px;
  }
  .render-spots {
    font-size: 9px;
  }
}
