@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.home-header {
  margin-top: 40px;
  font-family: "Russo One", sans-serif;
  background-color: #003459;
  color: white;
  border-bottom: 10px #00171f;
}
@media only screen and (max-width: 768px) {
  .home-header {
    font-size: 20px;
  }
}
